<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Hello!</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
        <style>
            .container{
                width: 600px;
                margin: 0 auto;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <h3>Create a new Mongoose</h3>
            <% JSON.stringify(messages) %>
            <% if(messages.registration) { %>
                <% for(var i of messages.registration) { %>
                    <h5 style="color:red;"><%= i %></h5>
                <% } %>
            <% } %>
            <form action="/makeMongoose" method="post">
                <p>Name: <input type="text" name="name"></p>
                <p>Age: <input type="text" name="age"></p>
                <button type="submit" class="btn btn-success">Add my mongoose!</button>
                <a href="/">All the Mongoose!</a>
            </form>
        </div>
    </body>
</html>
